
<div id="invoice_blur_div">
<form action='/delete' method="post" id="delete_div">
<h2>Confirm Deletion</h2>
<p>Are you sure you want to delete invoice #XM9141? This action cannot be undone.</p>
<div class="delete_button_div">
    <button type="button" onclick="hideDelete()">Cancel</button>
    <button type="submit" id="delete_button" name="id" value="">Delete</button>
</div>
</form>
</div>
