


    <div class="navi_top_div">
       
<img src="/Assets/logo.svg" class="nav_logo_svg"/>
    </div>
     <div class="navi_bottom_div">

          
        <img src="Assets/icon-sun.svg" onclick = "changeTheme()"class="sun_img" id="sun"/>
        <img src="Assets/image-avatar.jpg" class="avatar_img"/>
     </div>

    
 
